.container {
    border: 1px solid black;
    border-radius: 4px;
    max-width: 300px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.field-container {
    width: 220px;
}

.field {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 10px;
}